car_bot/lebedev_bot.zip
email_classification/email_classification.zip
email_classification/ROC.png
email_classification/dataset
email_classification/.ipynb_checkpoints
text_splitting/test_rus.txt
digits_recognition/Lebedev_digits_recognition.zip
parity_definition/Lebedev.zip
statistics
tonality/Lebedev_tonality.zip
tonality/lemmas.txt
tonality/test1.txt
tonality/test2.txt
tonality/first_vers